pandas
geopandas
sqlalchemy
geoalchemy2
numpy
pydantic-settings
pyproj
rasterio
matplotlib
lxml
joblib
psycopg2-binary
opencv-python-headless
requests
xarray
rtree
zarr
numba
pystac-client
sentinelsat
python-dotenv
requests
planetary_computer
alive_progress
rasterstats
pyyaml
