pandas
geopandas
sqlalchemy
geoalchemy2
numpy
pydantic
pyproj
rasterio
matplotlib
lxml
joblib
psycopg2-binary
opencv-python-headless
requests
xarray
rtree
zarr
numba
pystac-client
sentinelsat
pydantic[dotenv]
requests
planetary_computer
alive_progress
rasterstats
pyyaml
